.Dashboard{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.first-lineDashboard{
    display: flex;
    justify-content: space-around;

}
.seconde-line{
    margin-left: 23px;
    display: flex;
    align-items: center;
}