.Dashboard{
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px
}
.first-lineDashboard{
    display: flex;
    justify-content: space-around;

}
.seconde-line{
    margin-left: 23px;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
    .first-lineDashboard{
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 100%;
        gap: 10px;
    }
    .Dashboard{
        align-items: center;
    }
    .seconde-line{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 12px;
        height: 100vh;
        gap: 20px;
    }
}