:root{
    --white:#fafafa;
    --gray:#f6f6f6;
    --lightBlue:#d0e9e7;
    --darkBlue:#447695
}
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;1,600&display=swap');

*{
    font-family: Raleway;
}

.App{
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.right_side{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .Header{
        display: none;
    }
    .App{
        display: flex;
        flex-direction: column;
    }
  }