
.calendar{
    width: 93.5%; 
}
.all_calendar{
    width: 65%;
}

@media only screen and (max-width: 600px) {
    .calendar{
        width: 85%; 
      
    }
    .all_calendar{
        width: unset;
    }
}